ul{
    list-style: none 
}
ul {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
ul p {
    margin: 0; 
    padding: 0;
}

ul div{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;
    border-left: double 7px #4ec4d3;
    border-right: double 7px #4ec4d3;
}
ul div p {
    margin: 0; 
    padding: 0;
}

h1{
    text-align: center;
    color:aquamarine;
}
button{
    display: flex;
  justify-content: flex-end;
}